<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Browser>Chrome</Browser>
    <BrowserParameters>
      <value>--start-maximized</value>
    </BrowserParameters>
    <BrowserTimeoutSeconds>20</BrowserTimeoutSeconds>
    <TestDataLocation></TestDataLocation>
  </TestRunParameters>
 </RunSettings>